* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-blue: #082D4C;
    --blue-button: #05668D;
    --green-button: #0BD8A7;
    --title-color: #fff;
    --logo-head-font: co-headline, sans-serif; 
    --body-font: 'Open Sans', sans-serif;
    --h1-font-size: 1.875rem;   /* 30px */
    --h2-font-size: 1rem;       /* 16px */
    --h3-font-size: 0.875rem;   /* 14px */
    --h4-font-size: 0.8125rem;  /* 13px */
    --h5-font-size: 0.75rem;    /* 12px */
    --h6-font-size: 0.6875rem;  /* 11px */
    --xs-heading-font-size: 0.625rem; /* 10px */
    --xxs-font-size: 0.5625rem;  /* 9px */
}

.buttons {
    width: 260px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    left: calc(50% - 130px);
}

.button {
    /* from Adobe fonts */
    font-family: co-headline, sans-serif; 
    font-size: var(--h1-font-size);

    padding: 7px 40px 15px 40px;
    border-radius: 40px;

    width: 260px;
    height: 73px;

    color: white;
    margin: 1rem 0;
    border: none;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    height: 90px;
    background-image: url("/images/footer-background.svg");

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 20px 10px 20px;
}