* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-blue: #082D4C;
    --blue-button: #05668D;
    --green-button: #0BD8A7;
    --title-color: #fff;
    --logo-head-font: co-headline, sans-serif; 
    --body-font: 'Open Sans', sans-serif;
}